{% extends 'layout.html' %}
{% block title %}
  Home
{% endblock %}

{% block content %}
    <div class="alert container" role="alert">
      <h4 class="alert-heading">Where does it come from?</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> <hr>
<label>System Information</label>
<table class="table table-striped">
  <!--
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  -->
  <tbody>
    <tr>
      <th scope="row">Connection Status</th>
      <td id="my-div"><label>Checking....</label></td>
    </tr>
    <tr>
      <th scope="row">Reload time</th>
      <td>{{ data['reload'] }}</td>
    </tr>
    <tr>
      <th scope="row">CPU testing</th>
      <td>{{ data['cpu'] }}</td>
    </tr>
    <tr>
      <th scope="row">CPU Load</th>
      <td>{{ data['cpu_load'] }}</td>
    </tr>
        <tr>
      <th scope="row">CPU Freq</th>
      <td>{{ data['cpu_freq'] }}</td>
    </tr>
    <tr>
      <th scope="row">Host Name</th>
      <td>{{ data['hostname'] }}</td>
    </tr>
    <tr>
      <th scope="row">Router Model</th>
      <td>{{ data['routeM'] }}</td>
    </tr>

    <tr>
      <th scope="row">Firmvare</th>
      <td>{{ data['FirmV'] }}</td>
    </tr>
    <tr>
      <th scope="row">Local Time</th>
      <td>{{ data['lTime'] }}</td>
    </tr>
    <tr>
      <th scope="row">Run Time</th>
      <td>{{ data['runTime'] }}</td>
    </tr>


  <tr>
      <th scope="row">Network</th>
      <td>{{ data['network'] }}</td>
    </tr>


  <tr>
      <th scope="row">Run Time</th>
      <td>{{ data['runTime'] }}</td>
    </tr>
   

  </tbody>
</table>

























    </div>
    <!-- 
      <h4>This is the stats testing! {{ stats }}</h4> 
      <h4>This is the Total Memory! {{ ttl_memo }}</h4> 
      <h4>This is the Swap Memo! {{ swp_memo }}</h4>
      <h4>This is the NIC Address! {{ nic_addr }}</h4>  
      <h4>This is the Device Temperature! {{ tmp }}</h4>
      <h4>This is the Current User! {{ c_user }}</h4>
    
    <span class="border border-info"></span>
    <span class="border border-light"></span>
    <span class="border border-dark"></span>
    <span class="border border-white"></span>
  -->
{% endblock %}



